<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<form action="{{basepath}}uploadFile" method="post" class="dropzone" style="display: none;" id="dropzone"></form>
<link rel="stylesheet" href="{{basepath}}styles/admin-matches.css" type="text/css" />

<div class="modal fade" id="addMatchModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="matchId" id="matchId">
                    <div class="mb-3">
                        <label for="opponent" class="col-form-label">Opponent:*</label>
                        <input type="text" class="form-control" id="opponent">
                    </div>
                    <div class="mb-3">
                        <label for="location" class="col-form-label">Location:*</label>
                        <input type="text" class="form-control" id="location">
                    </div>
                    <div class="mb-3">
                        <label for="startTime" class="col-form-label">Start Time*:</label>
                        <input type="datetime-local" class="form-control" id="startTime">
                    </div>
                </form>
                <a href="" id="editBoxScore" data-basepath="{{basepath}}">Set Box Score</a>
                <label class="col-form-label">Photos</label>
                <div id="matchImagesCatch" class="mb-3"></div>
                <button id="addMatchImage" class="btn btn-primary">Add Photo</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="saveMatchBtn" type="button" data-bs-dismiss="modal" class="btn btn-primary">Add Match</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between py-3">
    <h2 class="w-auto">Matches</h2>
    <button class="btn btn-primary" id="addMatchBtn" data-bs-toggle="modal" data-bs-target="#addMatchModal">Add Match</button>
</div>

<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each matches}}
            <tr>
                <td>{{opponent}}</td>
                <td>{{location}}</td>
                <td>{{dateTimeFormat startTime 'D t'}}</td>
                <td><button class="btn btn-primary edit-button" data-bs-toggle="modal" data-bs-target="#addMatchModal" data-match-id="{{matchId}}">Edit</button></td>
                <td><button class="btn btn-primary delete-button" data-match-id="{{matchId}}">Delete</button></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<script src="{{basepath}}javascript/admin-matches.js"></script>