<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<link rel="stylesheet" href="{{basepath}}styles/admin-players.css" type="text/css" />
<form action="{{basepath}}uploadFile" method="post" class="dropzone" style="display: none;" id="dropzone"></form>

<div class="modal fade" id="addPlayerModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" name="playerId" id="playerId">
                    <input type="hidden" name="image" id="image">
                    <div class="d-flex justify-content-center">
                        <div class="player-head-shot" id="playerHeadShot">Add Image</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="firstName" class="col-form-label">First Name:*</label>
                            <input type="text" class="form-control" id="firstName">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="lastName" class="col-form-label">Last Name:*</label>
                            <input type="text" class="form-control" id="lastName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="positionId" class="col-form-label">Position:</label>
                            <select name="positionId" id="positionId" class="form-select">
                                <option value="">Choose a position</option>
                                {{#each data.positions}}
                                    <option value="{{positionId}}">{{name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-3 col-6">
                            <label for="number" class="col-form-label">Number:</label>
                            <input type="text" class="form-control" id="number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="bio" class="col-form-label">Bio:</label>
                            <textarea name="bio" id="bio" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="heightFeet" class="col-form-label">Height:</label>
                            <div class="input-group">
                                <input type="number" id="heightFeet" step="1" min="4" max="8" class="form-control">
                                <span class="input-group-text">feet</span>
                                <input type="number" step="1" max="11" min="0" id="heightInches" class="form-control">
                                <span class="input-group-text">inches</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-6">
                            <label for="homeTown" class="col-form-label">Home Town:</label>
                            <input type="text" class="form-control" id="homeTown">
                        </div>
                        <div class="mb-3 col-6">
                            <label for="birthday" class="col-form-label">Birthday:</label>
                            <input type="date" class="form-control" id="birthday">
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label for="collegeId" class="col-form-label">College:</label>
                            <div class="input-group">
                                <select class="form-select" name="collegeId" id="collegeId">
                                    <option value="">Choose a college</option>
                                </select>
                                <button class="btn btn-outline-light" type="button" id="editCollegesBtn">Manage Colleges</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="savePlayerBtn" type="button" data-bs-dismiss="modal" class="btn btn-primary">Add Player</button>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-between py-3">
    <h1 class="w-auto">Players</h1>
    <button class="btn btn-primary" id="addPlayerBtn" data-bs-toggle="modal" data-bs-target="#addPlayerModal">Add Player</button>
</div>

<table>
    <thead>
        <tr>
            <th></th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Birthday</th>
            <th>Home Town</th>
            <th>Height</th>
            <th>College</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each data.players}}
            <tr>
                <td>
                    {{#if image}}
                        <img class="player-head-shot table" src="{{basepath}}{{image}}">
                    {{/if}}
                </td>
                <td>{{firstName}}</td>
                <td>{{lastName}}</td>
                <td>{{position.name}}</td>
                <td>{{dateFormat birthday 'DD'}}</td>
                <td>{{homeTown}}</td>
                <td>{{heightFeet}}'{{heightInches}}''</td>
                <td>{{college.name}}</td>
                <td><button class="btn btn-primary edit-button" data-bs-toggle="modal" data-bs-target="#addPlayerModal" data-player-id="{{playerId}}">Edit</button></td>
                <td><button class="btn btn-primary delete-button" data-player-id="{{playerId}}">Delete</button></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<script src="{{basepath}}javascript/admin-players.js"></script>