<link rel="stylesheet" href="{{basepath}}styles/home.css">
<img src="{{basepath}}images/hero-home.png" class="hero">
<section class="container overlay-top">
    <div class="card">
        <h1 class="after-hero">Kansas City's Premier Indoor Soccer</h1>
    </div>
</section>
<section class="container" style="margin-top: 20px;">
    <div class="line">
        <h1>The Squad</h1>
    </div>
    <div class="players-slide">
        {{#each players}}
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="number">{{number}}</div>
                    <div class="position">{{position.abbreviation}}</div>
                    <div>
                        <img src="{{{basepath}}}" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{{basepath}}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{{basepath}}}{{#if image}}{{image}}{{else}}images/logo-transparent.png{{/if}}" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>Goals</div>
                        <div>Assists</div>
                        <div>Games</div>
                    </div>
                    <div class="stats-right">
                        <div>{{goals}}</div>
                        <div>{{assists}}</div>
                        <div>{{games}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>