<link rel="stylesheet" href="{{basepath}}styles/home.css">
<img src="{{basepath}}images/hero-home.png" class="hero">
<section class="container overlay-top">
    <div class="card">
        <h1 class="after-hero">Real Chet F.C.</h1>
    </div>
</section>
<section class="container">
    <div class="line mb-5 mt-5">
        <h1>Our Story</h1>
    </div>
    <div class="row align-items-center">
        <div class="col-12 mb-3 col-md-6 col-lg-4">
            <img src="{{basepath}}images/thumbs-up.jpg" alt="" class="w-100 rounded">
        </div>
        <p class="col-12 col-md-6 col-lg-8">Founded in 2017 by captain Ken Akimoto and his high school friends, Real Chet F.C. was born from a shared passion for soccer and a desire to create a team that embodied both skill and camaraderie. What began as a group of friends kicking around a ball in local parks quickly evolved into a competitive football club. Over the years, Real Chet F.C. has grown into a respected club known for its team spirit, determination, and strong sense of community.</p>
    </div>
</section>
<section class="container" style="margin-top: 20px;">
    <div class="line">
        <h1>The Squad</h1>
    </div>
    <div class="players-slide">
        {{#each players}}
        <div class="player-card" onclick="window.location.assign('{{basepath}}player/{{playerId}}');">
            <div class="top">
                <div class="icons">
                    <div class="number">{{number}}</div>
                    <div class="position">{{position.abbreviation}}</div>
                    {{#if countryCode}}
                    <div>{{{getFlagEmoji countryCode}}}</div>
                    {{else}}
                    <div>
                        <img src="{{{basepath}}}images/logo-transparent.png">
                    </div>
                    {{/if}}
                    <div>
                        <img src="{{#if college.logoUrl}}{{college.logoUrl}}{{else}}{{{basepath}}}images/logo-transparent.png{{/if}}">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{#if image}}{{image}}{{else}}{{{basepath}}}images/logo-transparent.png{{/if}}" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">{{firstName}} {{lastName}}</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>Goals</div>
                        <div>Assists</div>
                        <div>Games</div>
                    </div>
                    <div class="stats-right">
                        <div>{{goals}}</div>
                        <div>{{assists}}</div>
                        <div>{{games}}</div>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>