<link rel="stylesheet" href="{{basepath}}styles/home.css">
<img src="{{basepath}}images/hero-home.png" class="hero">
<section class="container overlay-top">
    <div class="card">
        <h1 class="after-hero">Kansas City's Premier Indoor Soccer</h1>
    </div>
</section>
<section class="container" style="margin-top: 20px;">
    <div class="line">
        <h1>The Squad</h1>
    </div>
    <div class="players-slide">
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="player-card">
            <div class="top">
                <div class="icons">
                    <div class="overall">86</div>
                    <div class="position">RW</div>
                    <div>
                        <img src="{{basepath}}images/usFlagIcon.png" alt="USA Flag" class="country-icon">
                    </div>
                    <div>
                        <img src="{{basepath}}images/jayhawk.png" alt="Jayhawk Logo">
                    </div>
                </div>
                <div class="head-shot-container">
                    <img src="{{relative}}images/logo-transparent.png" alt="" class="head-shot">
                </div>
            </div>
            <div class="bottom">
                <div class="last-name">Brian Kaufman</div>
                <div class="stats">
                    <div class="stats-left">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                    <div class="stats-right">
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                        <div>99 PAC</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>